@{
    ViewBag.Title = "System Financial";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Assets/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->
    <link href="~/Assets/morrisjs/morris.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/Assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customCss")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-home fa-fw"></i> START
                    </a>
                    <!-- /.dropdown-tasks -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-home fa-fw"></i> ABOUT US
                    </a>
                    <!-- /.dropdown-tasks -->
                </li>

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>SERVICES <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="~/Client/SearchClients">
                                <div>
                                    <i class="fa fa-users fa-fw"></i>Register Clients
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-users fa-fw"></i> Register Salers
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-book fa-fw"></i> Insert Info
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tv fa-fw"></i> Insert Info
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-shopping-cart fa-fw"></i>Insert Info
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>

                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Users</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Configurations</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-sign-out fa-fw"></i> Exit</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="~/"><i class="fa fa-home fa-fw"></i> Main</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-car fa-fw"></i> Products<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="~/Category/Index"><i class="fa fa-check fa-fw" style="color:#f0ad4e"></i>Categories</a>
                                </li>
                                <li>
                                    <a href="~/Product/SearchProducts"><i class="fa fa-search fa-fw" style="color:#f0ad4e"></i>Search Product</a>
                                </li>

                                <li>
                                    <a href="~/Product/Index"><i class="fa fa-product-hunt fa-fw" style="color:#f0ad4e"></i>Product</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-sort-numeric-asc fa-fw" style="color:#f0ad4e"></i>Stock</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Sales<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="~/Sale/InvoiceSale"><i class="fa fa-archive fa-fw" style="color:#f0ad4e"></i>Invoice</a>
                                </li>
                                <li>
                                    <a href="~/Sale/NewSale"><i class="fa fa-shopping-cart fa-fw" style="color:#f0ad4e"></i>New sale</a>
                                </li>
                                <li>
                                    <a href="~/SaleDetail/Index"><i class="fa fa-info-circle fa-fw" style="color:#f0ad4e"></i>Sales details</a>
                                </li>
                                <li>
                                    <a href="~/Sale/SaleReport"><i class="fa fa-book fa-fw" style="color:#f0ad4e"></i>Reports</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="~/Client/Index"><i class="fa fa-user fa-fw"></i> Clients</a>
                        </li>
                        <li>
                            <a href="~/Saler/Index"><i class="fa fa-user fa-fw"></i> Saler</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Pay e Invoices<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="~/MethodPayment/Index"><i class="fa fa-dollar fa-fw" style="color:#f0ad4e"></i>Payment choice</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-dollar fa-fw" style="color:#f0ad4e"></i>Payments</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-dollar fa-fw" style="color:#f0ad4e"></i>Invoices</a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Administration<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Company</a>
                                </li>
                                <li>
                                    <a href="#">Staff</a>
                                </li>
                                <li>
                                    <a href="#">Stocks</a>
                                </li>
                                <li>
                                    <a href="#">Department</a>
                                </li>
                                <li>
                                    <a href="#"> Users</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <!-- /.row -->

            <div class="row">
                @RenderBody()
            </div>

        </div>
        <!-- /#page-wrapper -->
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
    <!-- /#wrapper -->
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Assets/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->

    <script src="~/Assets/morrisjs/morris.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/js/sb-admin-2.js"></script> 
</body>
</html>
